#variables de entorno
.env

#carpeta de pruebas /sandbox
/sandbox

#datos persistentes
data/usuarios.json

#temporales
temp/

#carpeta de imagenes
/images
/debug

# cache de Python
__pycache__/
*.pyc
.playwright/

# entornos virtuales
venv/
.venv/
env/

